@import '../../styles/_colors';
@import '../../styles/_typography';

.PageFooter {
  margin-top: 10px;
  text-align: right;
  font-size: 0.7rem;

  &[style] {
    visibility: visible !important;
  }
}

.PageFooter_button {
  @include LinkButton;
  margin-left: 20px;
  color: $SCORPION;
  display: inline-block;

  &:hover {
    color: $CURIOUS_BLUE;

    .PageFooter_icon {
      fill: $CURIOUS_BLUE;
    }
  }
}

.PageFooter_icon {
  width: 11px;
  height: 11px;
  fill: $SCORPION;
  vertical-align: text-bottom;
  margin-right: 5px;
}