@import '../../styles/_colors';

.SurveyPageNav {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: solid 1px $SILVER;

  &[style] {
    visibility: visible !important;
  }
}

.SurveyPageNav_pageList {
  max-height: 230px;
  overflow-y: auto;
}

.SurveyPageNav_item {
  color: $BOULDER;
  width: 100%;
  display: block;
  font-weight: 300;
  margin-bottom: 5px;
  font-size: 0.8rem;

  &:hover {
    color: $CURIOUS_BLUE;
    cursor: pointer;

    /* it's just so easy to do.. */
    .BuildActionsNav_itemIcon {
      fill: $CURIOUS_BLUE;
    }
  }
}

.SurveyPageNav_itemIcon {
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  fill: $BOULDER;
}