/* BLUES */
$CURIOUS_BLUE: #30a8dd;

/* GREENS */
$PISTACHIO: #98be00;
$COCO_CREAM: #F2F6D6;

/* REDS */
$AMARANTH: #e42252;
$SSI_RED: #d71e42;

/* GREYSCALE */
$POLAR: #f0f9fc;
$ALABASTER: #f8f8f8;
$GALLERY: #eeeeee;
$ALTO: #dddddd;
$SILVER: #bababa;
$DUSTY_GRAY: #969696;
$BOULDER: #777777;
$SCORPION: #575757;