@font-face {
  font-family: 'EnzoOT-Light';
  src: url('/assets/fonts/EnzoOT-Light.eot');
  src: url('/assets/fonts/EnzoOT-Light.woff2') format('woff2'),
       url('/assets/fonts/EnzoOT-Light.woff') format('woff'),
       url('/assets/fonts/EnzoOT-Light.ttf') format('truetype'),
       url('/assets/fonts/EnzoOT-Light.svg#EnzoOT-Light') format('svg'),
       url('/assets/fonts/EnzoOT-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EnzoOT-LightIta';
  src: url('/assets/fonts/EnzoOT-LightIta.eot');
  src: url('/assets/fonts/EnzoOT-LightIta.woff2') format('woff2'),
       url('/assets/fonts/EnzoOT-LightIta.woff') format('woff'),
       url('/assets/fonts/EnzoOT-LightIta.ttf') format('truetype'),
       url('/assets/fonts/EnzoOT-LightIta.svg#EnzoOT-LightIta') format('svg'),
       url('/assets/fonts/EnzoOT-LightIta.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EnzoOT-Medi';
  src: url('/assets/fonts/EnzoOT-Medi.eot');
  src: url('/assets/fonts/EnzoOT-Medi.woff2') format('woff2'),
       url('/assets/fonts/EnzoOT-Medi.woff') format('woff'),
       url('/assets/fonts/EnzoOT-Medi.ttf') format('truetype'),
       url('/assets/fonts/EnzoOT-Medi.svg#EnzoOT-Medi') format('svg'),
       url('/assets/fonts/EnzoOT-Medi.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EnzoOT-MediIta';
  src: url('/assets/fonts/EnzoOT-MediIta.eot');
  src: url('/assets/fonts/EnzoOT-MediIta.woff2') format('woff2'),
       url('/assets/fonts/EnzoOT-MediIta.woff') format('woff'),
       url('/assets/fonts/EnzoOT-MediIta.ttf') format('truetype'),
       url('/assets/fonts/EnzoOT-MediIta.svg#EnzoOT-MediIta') format('svg'),
       url('/assets/fonts/EnzoOT-MediIta.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EnzoOT-Bold';
  src: url('/assets/fonts/EnzoOT-Bold.eot');
  src: url('/assets/fonts/EnzoOT-Bold.woff2') format('woff2'),
       url('/assets/fonts/EnzoOT-Bold.woff') format('woff'),
       url('/assets/fonts/EnzoOT-Bold.ttf') format('truetype'),
       url('/assets/fonts/EnzoOT-Bold.svg#EnzoOT-Bold') format('svg'),
       url('/assets/fonts/EnzoOT-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EnzoOT-BoldIta';
  src: url('/assets/fonts/EnzoOT-BoldIta.eot');
  src: url('/assets/fonts/EnzoOT-BoldIta.woff2') format('woff2'),
       url('/assets/fonts/EnzoOT-BoldIta.woff') format('woff'),
       url('/assets/fonts/EnzoOT-BoldIta.ttf') format('truetype'),
       url('/assets/fonts/EnzoOT-BoldIta.svg#EnzoOT-BoldIta') format('svg'),
       url('/assets/fonts/EnzoOT-BoldIta.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}