@import '_colors';
@import '_utils';
@import '_overrides';
@import '_typography';
@import '_modals';
@import '_fonts';

* {
  box-sizing: border-box;
}

/* #root is considered part of the main document
because React needs it to render into, just as
much as the html or body elements */
html, body, #root {
  width: 100%;
  height: 100%;
  font-family: 'EnzoOT-Medi', Sans-serif;
  color: $SCORPION;
}