@import '../../styles/_colors';
@import '../../styles/_typography';

.UserSearch {


  &[style] {
    visibility: visible !important;
  }
}

.UserSearch_label {
  @include FormLabel;
}

.UserSearch_input {
  @include FormInput;
  margin-right: 10px;
}

.UserSearch_btn {
  @include FormButton;
  background: $CURIOUS_BLUE;

  &:hover {
    background: $PISTACHIO;
  }
}