@import '../../styles/_colors';

.ReorderPageItem {
  cursor: move;
  cursor: grab;
  cursor: -webkit-grab;

  &[style] {
    visibility: visible !important;
  }

  &:active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }
}

.ReorderPageItem_handle {
  border-top: solid 1px $SILVER;
  border-bottom: solid 1px $SILVER;
  background: $ALABASTER;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
}

.ReorderPageItem_actions {
  float: right;
  display: inline-block;
}

.ReorderPageItem_deleteAlert {
  top: -8px;
  right: 35px;
  width: 230px;
  font-weight: 400;
  text-transform: none;
}

.ReorderPageItem_dragIcon {
  width: 13px;
  height: 13px;
  vertical-align: baseline;
  margin-right: 5px;
  fill: $BOULDER;
}

.ReorderPageItem_pageIcon {
  width: 18px;
  height: 18px;
  vertical-align: top;
  margin-right: 5px;
  fill: $BOULDER;
}

.ReorderPageItem_deleteBtn {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

.ReorderPageItem_deleteIcon {
  width: 11px;
  height: 11px;
  vertical-align: baseline;
  fill: $SCORPION;
}