@import '../../styles/_colors';

.UploadDrop {
  width: 100%;
  height: 100%;
  position: relative;

  &[style] {
    visibility: visible !important;
  }
}

/* the input is invisible OVER the prompt */
.UploadDrop_input {
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

.UploadDrop_prompt {
  border: solid 1px $CURIOUS_BLUE;
  color: $CURIOUS_BLUE;
  background: $POLAR;
  width: 100%;
  height: 100%;
  z-index: 0;
  text-align: center;
}